# IDE/Editor-related files
.vscode

# Contents of output directory
build/*

# Contents of documentation directory
doc/*

# Contents of logfile directory
logs

# OS-related files
.DS_Store

# BCM downloaded files
bcm2835-*
