# IDE/Editor-related files
.vscode
.idea

# Contents of output directory
build/*

# Contents of documentation directory
doc/*

# Contents of logfile directory
logs
cmake-build-debug

# OS-related files
.DS_Store

# BCM downloaded files
bcm2835-*
